<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <title>QTZ</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<body>

  <div>
    <mat-toolbar class="body-Head">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <img src="assets/logo.jpg" alt="QTZ Image" class="img-qtz">
        <span class="button-text">CG_QTZ</span>
      </button>
      <span class="flex-spacer"></span>
      <button mat-icon-button class="carrito-icon" aria-label="Carrito de compras">
        <mat-icon>add_shopping_cart</mat-icon>
      </button>
    </mat-toolbar>

    <mat-tab-group [selectedIndex]="1">
      <mat-tab label="Servicios">
        <app-ServiciosComponent></app-ServiciosComponent>
      </mat-tab>
      <mat-tab label="Equipos y accesorios">
        <app-EquiposComponent></app-EquiposComponent>
      </mat-tab>
      <mat-tab label="Software">
        <app-SoftwareComponent></app-SoftwareComponent>
      </mat-tab>
    </mat-tab-group>
  </div>
</body>

</html>