.mat-mdc-tab-body-content.ng-tns-c737557735-1.ng-trigger.ng-trigger-translateTab {
    scrollbar-width: thin; /* para Firefox */
    scrollbar-color: transparent transparent; /* para Firefox */
}

.mat-mdc-tab-body-content.ng-tns-c737557735-1.ng-trigger.ng-trigger-translateTab::-webkit-scrollbar {
    width: 0 !important; /* para navegadores basados en WebKit (Chrome, Safari) */
}
body{
    background-color: white
   }