<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mantenimiento y Reparación de PC</title>
</head>
<body>

    <header>
        <h1>¿QUIENES SOMOS?</h1>
        <p>Su solución confiable para problemas de hardware y software</p>
    </header>

    <main>
        <section>
            <h2>Nuestra Misión</h2>
            <p>Nuestra misión es proporcionar soluciones tecnológicas innovadoras y confiables que impulsen el éxito de nuestros clientes. Nos esforzamos por ser líderes en la industria, ofreciendo productos y servicios de la más alta calidad que mejoren la eficiencia operativa y la seguridad de las organizaciones.</p>
        </section>
        <section>
            <h2>¿Qué Hacemos?</h2>
            <ul>
                <li><strong>Venta de Software y Hardware:</strong> Ofrecemos una selección completa de software y hardware de las principales marcas del mercado.</li>
                <li><strong>Instalación y Configuración:</strong> Nuestro equipo de expertos técnicos se encarga de la instalación y configuración de productos tecnológicos en empresas, hogares y espacios comerciales.</li>
                <li><strong>Asesoramiento Personalizado:</strong> Ofrecemos asesoramiento personalizado para ayudar a nuestros clientes a elegir las soluciones tecnológicas que mejor se adapten a sus requisitos específicos.</li>
            </ul>
        </section>
        <section>
            <h2>Por Qué Elegirnos</h2>
            <ul>
                <li><strong>Experiencia y Expertise:</strong> Con años de experiencia en la industria, nuestro equipo tiene el conocimiento y la experiencia necesarios para ofrecer soluciones tecnológicas efectivas.</li>
                <li><strong>Compromiso con la Calidad:</strong> Nos comprometemos a proporcionar productos y servicios de la más alta calidad para garantizar la satisfacción del cliente.</li>
                <li><strong>Atención al Cliente:</strong> La satisfacción del cliente es nuestra máxima prioridad.</li>
            </ul>
        </section>
        <p>En Empresa GComputer Art, estamos dedicados a ayudar a nuestros clientes a alcanzar su máximo potencial tecnológico. Contáctenos hoy mismo para descubrir cómo podemos ayudarlo a llevar su negocio al siguiente nivel.</p>

        

    </main>

    <footer>
        <p>&copy; 2023 Mantenimiento y Reparación de PC. Todos los derechos reservados.</p>
    </footer>

</body>
</html>
